<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Lancamentos Legado Dashboard</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
    <mat-grid-list 
        [cols]="cols | async"
        gutterSize="16px">

        <mat-grid-tile>
            <app-lancamentos-grafico-a [lancamentosData]="lancamentosData"></app-lancamentos-grafico-a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <app-lancamentos-grafico-b [lancamentosData]="lancamentosData"></app-lancamentos-grafico-b>
        </mat-grid-tile>
    
        <mat-grid-tile [colspan]="cols | async">
            <app-lancamentos-tabela [lancamentosData]="lancamentosData"></app-lancamentos-tabela>
        </mat-grid-tile>
    
    </mat-grid-list>
</div>
